<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <loggerpath value="D:\SmartGunBulletManager Log\"/>
  <datebasefile value=".\DB\gbsmart.db"/>
  <datebasepwd value="Y3hEVEloZVY5NFNVSTNpWEE4UGlkZy8ycVU5Z1dkRGpSQytwU3Z0dlBIUFZpc1k0eFhPVWNSWTlmNFdjaCszSFozeVlkbUJwUnoyenJ5bnZLTG5CcWplcnhFNGVYZFhmVExuSWh4L2FVdjlaQTZ6bVBoZC9aWndPUnZIZFkxVlFFSENqT2V4NnVFR3RQb2tXVVEvZTl1YVVENnlySnZDUm1CNExYSG4yVm44PQ=="/>
  <checktemperatureinterval value="10000"/>
  <checkhumidityinterval value="10000"/>
  <checkalcoholconcentrationinterval value="1000"/>
  <checkpowerstateinterval value="1000"/>
  <checknetworkstateinterval value="10000"/>
  <checkserverstateinterval value="10000"/>
  <lockcontrollercomm value="COM3"/>
  <lockcontrollerbaudrate value="9600"/>
</configuration>